<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }
        .div1{
            max-width: 1080px;
            margin: 0 auto;
            podding: 10px 20px 0;
            margin-top: 10px;
        }
        p{
            float: left;
            width: 200px;
        }
        h1{
            float: contour;
        }
    </style>
</head>
<body>
<div class="div1">
    <div>
      <p>智能支持系统</p>  <h1>咨询报告</h1>
    </div>
     <div>

    </div>
    <div>

    </div>
</div>
</body>
</html>